// Estilos para el contenedor
.selectitems {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 30px;
    width: 370px; /* Ajusta el ancho según tus necesidades */
    margin: 30px auto; /* Centra el contenedor en la página */
  }
  